.post {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.post-header {
  height: 24px;
}

.profile {
  background-image: url("https://placeimg.com/100/100/arch");
  width: 30px;
  height: 30px;
  background-size: 100%;
  border-radius: 25%;
  float: left;
}

.profile-name {
  float: left;
  padding: 7px 0px 0px 10px;
  font-size: 14px;
}

.post-body {
  background-image: url("https://placeimg.com/640/480/animals");
  height: 360px;
  background-position: center;
  background-size: cover;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.post-content {
  font-size: 15px;
  margin-top: 10px;
}

.date {
  font-size: 15px;
  color: grey;
  /* margin-top: -8px; */
}